version: "3.9"

services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=lyftkran_db
      - POSTGRES_USER=lyftkran_user
      - POSTGRES_PASSWORD=lyftkran_pass
    ports:
      - "5342:5342"
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
