{% extends 'layout.html' %}
{% load filter_extras %}
{% block content %}
<ul>
    <li><b>Namn: </b>{{ lifter }} <b>Kön: </b>{{ lifter.get_gender.label }}</li>
    <li><b>Klubbar: </b>{{ lifter.get_club_list }}</li>
    <li><b>Address: </b>{{ lifter.contact_information.address }}</li>
    <li><b>Postadress: </b>{{ lifter.contact_information.postal_code }} {{ lifter.contact_information.postal_city }}</li>
    <li><b>Personnummer: </b>{{ lifter.id_number|personal_number }}</li>
    <li><b>Telefon: </b>{{ lifter.contact_information.phone }}</li>
    <li><b>Email: </b>{{ lifter.contact_information.email }}</li>
</ul>

<ul>
    {% for license in lifter.license_set.all %}
    <li>{{ license }}</li>
    {% endfor %}
</ul>
{% endblock %}